page-dias-detail {    
    background:$backgroundPage;
    ion-fab{
        margin-bottom: 10%;
    }ion-content,ion-list{
        background: transparent !important;
        .itemHoras{
            background: transparent !important;
            color: white;
            font-weight: 20;
            font-size: 3.5em;
            text-align: center;
        }

    }
}
