<!--
  Generated template for the DiasDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-list>
    <button class = "itemHoras" ion-item *ngFor="let hora of horas" (click)="modificarEliminar(hora)">
      {{hora.horaInicio }} {{ hora.horaFinal}}
    </button>  
  </ion-list>
  <ion-fab bottom right edge  (click)="insertar()">
      <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>