<!--
  Generated template for the DiasDetailToolbarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let dia of dias" (click)="itemSelected(dia)">
        {{ dia }}
      </button>  
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent  [root] = "detail"></ion-nav>