<ion-header>
  <ion-navbar>
      
    <ion-title>
      AppBomba
    </ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <h1 class="titulo">{{variable}}</h1>
  <img src="../../assets/imgs/bomba-agua.webp" alt="">
 <button ion-button block color="secondary" (click) = "goDiasDetail()">Comenzar</button>
</ion-content>
