<!--
  Generated template for the TabsComponentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-tabs>
        <ion-tab tabIcon="alarm" [root] = "tab1"  (ionSelect)="changeTab('Detalles de Hora')" ></ion-tab>
        <ion-tab tabIcon="settings" [root] = "tab2"  (ionSelect)="changeTab('Opciones')"></ion-tab>
    </ion-tabs>
</ion-content>
