<!--
  Generated template for the UpdateHoraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-grid>
    <ion-row class ="descriptionRow">
      <ion-col col-12>
          <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Hora de Inicio</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="horaInicio"></ion-datetime>
        </ion-item>
        </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12>
        <ion-item>
            <ion-label floating>Hora Final</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="horaFinal"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class ="buttonRow" *ngIf ="!insertar; else elseBlock">
        <ion-col col-4 (click)="insertarModificar()">
          <button ion-button full color="secondary">{{accionSobreDatos}}</button>
        </ion-col >
        <ion-col col-4>
          <button ion-button full color="danger">Eliminar</button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full (click)="finish()">{{accionSalir}}</button>
        </ion-col>
      </ion-row>
      <ng-template #elseBlock> 
          <ion-row class ="buttonRow">
        <ion-col col-6 (click)="insertarModificar()">
          <button ion-button full color="secondary">{{accionSobreDatos}}</button>
        </ion-col >
        <ion-col col-6>
          <button ion-button full (click)="finish()">Cancelar</button>
        </ion-col>
      </ion-row>
      </ng-template>
  </ion-grid>