page-update-hora {
    background:$backgroundPage;
    .buttonRow, .descriptionRow{
        margin-top: 5%;
    }
    ion-fab{
        padding-left: 20%;

    }
    ion-item{ 
        background: transparent  !important;
        ion-label, ion-datetime{
            font-weight: 20;
            color: white !important;
        }ion-label{
            font-weight: 20;
            font-size: 1em;
        }
        ion-datetime{
            font-size: 2em;
            text-align: center;
        }
    }
}
